/**variables**/
$main-font: 'Roboto', sans-serif;
$bodyBg: #e6ecf2;
$tabBg: #4a0594;


/**mixins**/

@mixin font-regular {
  font-family: $main-font;
  font-weight: 400;
}

@mixin font-bold {
  font-family: $main-font;
  font-weight: 700;
}

/**common styles**/
body {
  @include font-regular;
  margin: 0;
  padding: 15px;
  background: $bodyBg;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  cursor: pointer;
  &:hover {
    text-decoration: none;
  }
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
img {
  max-width: 100%;
}

button {
  outline: none;
  background: none;
  border: none;
}

.page-container {
  position: relative;
  max-width: 1184px;
  padding: 10px 10px 32px;
  margin: 0 auto;
  background: #fff;
  border-radius: 4px;
  box-sizing: border-box;
}

.tab-list {
  display: flex;
  list-style: none;
  justify-content: space-around;
  flex-direction: column;
}
.tab-control {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 85px;
  padding: 20px 55px 25px 27px;
  margin-bottom: 35px;
  color: #fff;
  background: $tabBg;
  box-sizing: border-box;
  border-radius: 4px;
  transition: 1s;

  &:after {
    position: absolute;
    content: "";
    top: 20px;
    right: 15px;
    width: 40px;
    height: 40px;
  }
  &__number {
    @include font-bold;
    margin-bottom: 12px;
    font-size: 25px;
    line-height: 25px;
  }
  &__text {
    font-size: 13px;
    line-height: 13px;
    font-weight: 400;
  }
  &:hover{
    background: #ff00cc;
    box-shadow: 0 0 10px 0 rgba(0,0,0,.5);
  }
}

.tab-control--1:after {
  background: url("../images/icon1.png") no-repeat;
  background-size: contain;
}

.tab-control--2:after {
  background: url("../images/icon2.png") no-repeat;
  background-size: contain;
}

.tab-control--3:after {
  background: url("../images/icon3.png") no-repeat;
  background-size: contain;
}
.tab-control--4:after {
  background: url("../images/icon4.png") no-repeat;
  background-size: contain;
}

.active  .tab-control{
  background: #ff00cc;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #333399, #ff00cc);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #333399, #ff00cc); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  box-shadow: 0 0 10px 0 rgba(0,0,0,.5);
}

.tab-panel {
  display: none;
  margin-bottom: 35px;
  &__item {
    position: relative;
    border-radius: 4px;
    border: 1px solid #e6ecf2;
    margin-bottom: 10px;
    padding: 10px;
  }
  &__item--violet:before,
  &__item--grey:before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 4px;
    height: 100%;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
  }
  &__item--violet:before {
    background: #4a0594;
  }
  &__item--grey:before {
    background: #cedae6;
  }
  &__top-line {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 10px;
  }
  &__title {
    font-weight: bold;
    font-size: 16px;
    line-height: 16px;
  }
  &__title--grey {
    color: #bbbcc4;
  }
  &__desk {
    display: block;
    margin: 10px 0;
    color: #bbbcc4;
    font-size: 13px;
    line-height: 13px;
    font-weight: 400;
  }
  .circle {
    position: relative;
    padding-left: 12px;
  }
  .circle:before {
    position: absolute;
    content: "";
    top: 8px;
    left: 5px;
    width: 2px;
    height: 2px;
    background: #bbbcc4;
  }
  &__list {
    margin-bottom: 23px;
    font-size: 13px;
    line-height: 13px;
  }
  &__list li {
    position: relative;
    display: flex;
    align-items: center;
    height: 28px;
    padding: 7px 13px 7px 20px;
    margin-bottom: 10px;
    border-radius: 4px;
    border: 1px solid #e6ecf2;
    box-sizing: border-box;
  }
  &__list li.violet {
    color: #fff;
    background: #4a0594;
  }
  &__list span {
    padding-left: 7px;
  }
  &__list li:before {
    position: absolute;
    left: 10px;
    content: "";
    width: 9px;
    height: 10px;
    background: url("../images/yesBlack.png");
    background-size: contain;
  }
  &__list li.violet:before {
    background: url("../images/yesWhite.png") no-repeat;
    background-size: contain;
  }
  &__list li.shape:before {
    width: 12px;
    height: 17px;
    background: url("../images/shape.png") no-repeat;
    background-size: contain;
  }
  &__bottom-line {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    font-size: 13px;
    line-height: 13px;
  }
  &__updates {
    font-weight: 400;
    color: #694caf;
    margin-top: 10px;
  }
  &__stars-block {
    position: relative;
    padding-left: 20px;
    margin-right: 15px;
    color: #ffaa30;
  }
  &__stars-block:before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 16px;
    height: 16px;
    background: url("../images/starYellow.png");
    background-size: contain;
  }
  &__stars-block--grey {
    color: #bbbcc4;
  }
  &__stars-block--grey:before {
    background: url("../images/starGrey.png");
    background-size: contain;
  }
  &__stars-block.noStar {
    padding-left: 0;
  }
  &__stars-block.noStar:before {
    display: none;
  }
  &__reviews.circle:before {
    left: 0;
    background: #000;
  }
  &__actions {
    position: relative;
    padding: 7px 9px 7px 26px;
    margin-top: 10px;
    max-width: 146px;
    color: #fff;
    border-radius: 4px;
    background: #ffaa30;
    box-sizing: border-box;
  }
  &__actions:before {
    position: absolute;
    content: "";
    top: 7px;
    left: 9px;
    width: 12px;
    height: 15px;
    background: url("../images/ring.png");
    background-size: contain;

  }
}
button i {
  color: #cfd5db;
  cursor: pointer;
  transition: 2s;
  &:hover {
    color: #4a0594;
    transform: scale(2);
  }
}
.tab-panel.active {
  display: block;
}

/**********Desktop**********/
@media (min-width: 1214px) {
  .page-container {
    padding: 28px 64px 72px;
  }

  .tab-list {
    flex-direction: row;
  }
  .tab-panel {
    position: absolute;
    left: 65px;
    width: 1056px;
    box-sizing: border-box;
    &__item {
      padding: 19px 18px 19px 29px;
    }
    &__bottom-line {
      flex-direction: row;
    }
    &__updates {
      margin-top: 0;
    }
    &__list {
      display: flex;
    }
    &__list li {
      margin-right: 10px;
      margin-bottom: 0;
    }
    &__actions {
      margin-top: 0;
    }
    &__desk {
      display: inline;
    }
  }
  .tab-control {
    width: 260px;
  }
}
